{% extends 'main.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/community.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block content %}

    {% for post in posts %}

    <div class="posts">
        <div class="main-posts">
            <div class="img-name">
                <img class="post-icon" src="Home.jpg">
                <h6>{{ post.author.username }} - {{ post.created_at }}</h6>
            </div>
            <div class="post-react">
                <img class="post-image" src="{{ post.image.url }}" alt="Post Image">

                {% comment %} <div class="icons-react">
                    <i class="fa-solid fa-heart icon" ></i>
                    <i class="fa-solid fa-share icon"></i>
                    <i class="fa-solid fa-comment icon"></i>
                </div> {% endcomment %}
            </div>


            <div class = "content-comment">

                <a href="{% url 'like_post' post.id %}">
                    Like ({{ post.likes.count }})
                </a>

                <p class="post-text">{{ post.content }}</p>

                <form method="post" action="{% url 'add_comment' post.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea name="content" rows="2" class="custom-textarea"></textarea>
                        <button type="submit" class="btn btn-secondary button-color">Comment</button>
                    </div>
                </form>

                {% for comment in post.comments.all %}
                <div class="comment">
                    <p><strong>{{ comment.author.username }}</strong>: {{ comment.content }}</p>
                </div>
                {% endfor %}

            </div>
        </div>
    </div> 

    {% endfor %}

{% endblock %}