{% extends 'main.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/tours.css' %}">
{% endblock %}

{% block content %}
    {% if tours_details %}

        {% for tour in tours_details %}
            <div class="tours">
                <div class="plans">
                    <h2>{{ tour.tour_name }}</h2>
                    <div>
                        <p class="text-left">Phone No: <span>{{ tour.phone_number }}</span></p>
                    </div>
                    <div class="trip-info">
                        <div>
                            <p class="text-left">Destination: <span>{{ tour.destination }}</span></p>
                        </div>
                        <div class="right">
                            <p class="text-right">Pricing: Rs <span>{{ tour.rate }}</span></p>
                        </div>
                    </div>
                    <div class="trip-info">
                        <div>
                            <p>Description: <span>{{ tour.detail }}</span></p>
                        </div>
                        <div>
                            <p>Mail Id: <span>{{ tour.email }}</span></p>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}